<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog, Version=1.0.0.505"/>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="targetFile" xsi:type="File" fileName="${basedir}/Logs/rolling-log.${level}.txt" layout="${date} ${level} ${message} ${newline} ${exception:format=ToString}"/>
      <target name="targetDebugger" xsi:type="Debugger" layout="${date} ${level} ${message} ${newline} ${exception:format=ToString}"/>
      <target name="targetConsole" xsi:type="ColoredConsole" layout="${date} ${level} ${message} ${newline} ${exception:format=ToString}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="targetFile"/>
      <logger name="*" minlevel="Trace" writeTo="targetDebugger"/>
      <logger name="*" minlevel="Trace" writeTo="targetConsole"/>
    </rules>
  </nlog>
</configuration>
